extends layout

block content
	.textalign-center
		h1 Biografie
	div
		img.content-img(src="images/cvfoto.png")
		h3 Mijn leven als informaticus
		p Mijn naam is Pieter Willockx, geboren op 3 mei 1995. Al van kinds af aan ben ik geïnteresseerd in de wondere wereld van computers en technologie over het algemeen, wat voor mensen van mijn generatie waarschijnlijk vrij normaal is. Onze eerste computer van het gezin was een Compaq Prolinea 486. Een oud model dat nog een diskette-driver had. Ik bracht mijn tijd aan de computer dan ook vooral door met het spelen van kleine spelletjes die we hadden op diskette.
		p Fast-forward een goede 10 jaar. Ik sta op het punt om mijn eerste kleine stapjes in de wereld van de informatica te zetten. Als 16-jarige begin ik als jobstudent te werken in een klein IT-bedrijfje, #[a(href="http://www.cleverpc.be/") CleverPC]. In dit bedrijf is mijn opdracht vooral om klanten bij te staan wanneer ze problemen hebben met hun desktop en/of laptop. Ook leer ik desktops vanaf een lege case in elkaar te steken en van een besturingssysteem te voorzien, om deze daarna te verkopen aan klanten. Echte kennis over programmeren en dergelijke doe ik hier niet op, maar deze job heeft op zijn minst mijn interesse de nodige vonk gegeven om de beslissing te nemen om in het hoger een richting in de informatica te kiezen. 
		p Op dit moment ben ik 21 jaar. Ik rond zo dadelijk mijn studie in de richting Toegepaste Informatica aan Hogeschool Gent af. Het behalen van dit diploma gaat natuurlijk gepaard met zowel het schrijven van een bachelorpaper en het voltooien van een stageopdracht van 14 weken. Meer informatie over hoe ik dit er van af gebracht heb vindt u op de andere pagina's.
		h3 Mijn leven buiten de informatica
		p Uiteraard draait mijn leven niet alleen rond computers en programma-code. Hoewel ik hier een grote interesse voor heb, geniet ik nog altijd ten volle van de momenten waarop ik een keer niet zo pragmatisch moet denken.
		p Sinds 2001 ben ik lid van een jeugdbeweging die mij zeer nauw aan het hart ligt: #[a(href="ksabuggenhout.be") KSA Buggenhout]. In deze jeugdbeweging heb ik niet alleen vrienden voor het leven gemaakt, maar heb ik ook de meeste van de waarden die ik vandaag meedraag gevormd. Sinds 2011 ben ik ook leidinggevende in deze jeugdbeweging. Tot zover heb ik al leiding mogen staan van groepen gaande van 6-jarigen tot 14-jarigen. Zonder twijfel nuttige ervaringen die ik kan meenemen naar mijn professionele leven in de toekomst.
		p Een sportmens ben ik niet echt, maar ik heb altijd interesse gehad in het skateboarden. Voor mij is dit een goeie manier om stoom af te blazen en het doorzettingsvermogen dat soms nodig is om beter te worden heeft mij geholpen om mentaal ook een sterker persoon te worden.
		p Ik nodig je uit om zeker ook eens naar de andere pagina's te kijken om wat meer informatie over mij te weten te komen.
	.mainpage-imgs
		a(href="https://www.facebook.com/pieter.willockx")
			img(src="images/facebook-button.png")
		a(href="https://www.linkedin.com/in/pieter-willockx-430124122")
			img(src="images/linkedin-button.png")
