extends layout

block content
	.textalign-center
		h1 Contact
	.column-holder
		.column-5
			ul
				li
					p Pieter Willockx
				li
					p Vierhuizen 10B
				li
					p 9255, Buggenhout
				li
					p 0479/02.09.73
				li
					p 052/33.30.03
				li
					p pieterwillockx2@gmail.com
		.column-5
			form(role="form", action="/", method="get")
				div.form-group
					label(for="name") Naam:
					input#name.form-control(type="text", name="username", placeholder="Naam...")
				div.form-group
					label(for="password") Bericht:
					textarea#message.form-control(name="message", cols="40", rows="5", placeholder="Bericht...")
				button.btn.btn-default.login-button(type="submit") Verstuur
	.mainpage-imgs
		a(href="https://www.facebook.com/pieter.willockx")
			img(src="images/facebook-button.png")
		a(href="https://www.linkedin.com/in/pieter-willockx-430124122")
			img(src="images/linkedin-button.png")
