extends layout

block content
	.textalign-center
		h1 Documenten
	ul
		li
			a(href="/docs/curriculum-vitae.pdf")
				p.black Curriculum Vitae
			p Een overzicht van mijn competenties en ervaringen, in de vorm van een document.
		br
		li
			a(href="/docs/pieterWillockx-bachproef.pdf")
				p.black Bachelorpaper - "De overstap van de Monolothic Application Architecture naar de Microservices Architecture"
			p Het paper dat ik schreef in het kader van mijn bachelorproef, een scriptie voorgedragen tot het bekomen van de graad van Bachelor in de toegepaste informatica.

	.mainpage-imgs
		a(href="https://www.facebook.com/pieter.willockx")
			img(src="images/facebook-button.png")
		a(href="https://www.linkedin.com/in/pieter-willockx-430124122")
			img(src="images/linkedin-button.png")
