extends layout

block content
	.textalign-center
		h1 Ervaring
	h3 Opleidingen
	ul
		li
			p 2007 – 2013: Economie – Moderne Talen, Sint-Vincentiuscollege Buggenhout
		li
			p 2013 – Heden: Professionele Bachelor Toegepaste Informatica, Hogeschool Gent

	h3 Ervaring
	ul
		li
			h4 20/08/2012 – 28/08/2012: Cursus animator in het jeugdwerk, uitgereikt door KSA-KSJ-VKSJ Oost-Vlaanderen
		li
			h4 22/08/2011 (eerste werkdag) – 29/06/2013 (laatste werkdag): Jobstudent bij lokale IT-winkel #[a(href="http://www.cleverpc.be/") CleverPC].
			ul
				li
					p Reparatie en plaatsing van hardware in desktop PC’s.
				li
					p Reparatie en troubleshooting van software op de besturingssystemen Windows en Linux.
				li
					p Installatie van besturingssystemen op nieuwe laptops en desktops.
		li
			h4 15/02/2016 (eerste werkdag) – 20/05/2016 (laatste werkdag): Stagiair bij #[a(href="http://www.behindthebuttons.com/") Behind the Buttons].
			ul
				li
					p Lead developer bij de ontwikkeling van een Android-applicatie, te vinden op de #[a(href="https://play.google.com/store/apps/details?id=com.develop.behindthebuttons.lokaaltest") Google Play-store].
				li
					p Junior developer bij de ontwikkeling van een web-applicatie. Info te vinden op #[a(href="http://www.behindthebuttons.com/software/oplossingen/buttonsforcleaners/") deze] pagina.
				li
					p Werkkracht bij het opzetten van infrastructuur op locatie zoals servers, tablets, enzovoort.
	h3 Vrijetijdsprojecten
	ul
		li
			h4 #[a(href="https://fast-cove-9481.herokuapp.com/") Website Sportcentrum Buggenhout]: Ontwikkelen van een MEAN-stack applicatie.
			p Dit project werd deels gemaakt in het kader van de opdracht van het vak Webapplicaties tijdens het eerste semester van het derde jaar Toegepaste Informatica aan HoGent. Na indienen van deze opdracht ben ik echter verder gegaan met de ontwikkeling. Deze website is echter nog niet helemaal voltooid, aangezien ik enkel in mijn vrije tijd hier aan kan werken.
		li
			h4 #[a(href="ksabuggenhout.be") Portal-pagina KSA Buggenhout]: Pure HTML, JavaScript en CSS-styling.
			p Aangezien de recente naamverandering van de jeugdbeweging KSA-KSJ-VKSJ naar KSA, werden de vrouwelijke en mannelijke tak van de KSA in Buggenhout nu meer verbonden met elkaar. Om dit aan te tonen worden onze websites nu gehost op hetzelfde platform. Om de navigatie gemakkelijker te maken werd een simpele portaal-pagina gemaakt.
	.mainpage-imgs
		a(href="https://www.facebook.com/pieter.willockx")
			img(src="images/facebook-button.png")
		a(href="https://www.linkedin.com/in/pieter-willockx-430124122")
			img(src="images/linkedin-button.png")
