extends layout

block content
	.textalign-center
		h1 E-Portfolio Pieter Willockx
		p Bent u op deze website terecht gekomen, dan is dat hoogstwaarschijnlijk omdat u geïnteresseerd bent in mijn persona, mijn competenties en mijn ervaring op vlak van informatica.
		p Via de navigatiebalk links kan u navigeren doorheen mijn portfolio. Persoonlijke interesses en een grondige motivatie waarom ik gekozen heb voor deze branche vindt u terug op de Bio-pagina. Een oplijsting van mijn ervaringen zoals bijvoorbeeld mijn stage in opdracht van Hogeschool Gent, maar ook persoonlijke projecten, komen aan bod op de Ervaring-pagina. Documenten die ik gemaakt heb, of die ik graag beschikbaar wil stellen via dit kanaal, zijn te vinden op de Documenten-pagina. Last but not least kan je ook doorklikken naar de Contact-pagina om mijn contactgegevens te vinden.
		p Deze website werd gemaakt met behulp van de MEAN-stack. Een pakket van technologieën bestaande uit MongoDB, ExpressJS, AngularJS en NodeJS. Dit pakket stelt een ontwikkelaar in staat om lichtgewicht websites te ontwikkelen die voornamelijk geïmplementeerd zijn in JavaScript. 
		h1.gold Happy browsing!
		.mainpage-imgs
			a(href="https://www.facebook.com/pieter.willockx")
				img(src="images/facebook-button.png")
			a(href="https://www.linkedin.com/in/pieter-willockx-430124122")
				img(src="images/linkedin-button.png")
