doctype html
html(ng-app="sportzorg")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='/stylesheets/bootstrap.css', rel='stylesheet')
		script(src='/javascripts/jquery.js', rel='script')
		script(src='/javascripts/bootstrap.js', rel='script')
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
		script(src="/javascripts/app.js", rel='script')
		script(src="/javascripts/nav.js", rel='script')
	body
		div.content
			if (!user)
				button#loginbutton.btn.btn-default(data-toggle="modal" data-target="#loginModal") Inloggen
				div#loginModal.modal.fade(role="dialog")
					div.modal-dialog
						div.modal-content
							div.modal-header
								button.close(type="button", data-dismiss="modal") &times;
								h4.modal-title Inloggen
							div.modal-body
								form(role="form", action="/accounts/login", method="post")
									div.form-group
										label(for="username") Gebruikersnaam:
										input#email.form-control(type="text", name="username", placeholder="Gebruikersnaam")
									div.form-group
										label(for="password") Paswoord:
										input#password.form-control(type="password", name="password", placeholder="Paswoord")
									button.btn.btn-default.login-button(type="submit") Inloggen
								p Nog geen account?
								a.register(href="/accounts/register") Maak nu een account aan.
			if (user)
				button#loginbutton.btn.btn-default(data-toggle="modal" data-target="#loginModal") Hallo, #{user.username}!
				div#loginModal.modal.fade(role="dialog")
					div.modal-dialog
						div.modal-content
							div.modal-header
								button.close(type="button", data-dismiss="modal") &times;
								h4.modal-title Gebruikersopties
							div.modal-body
								p Wat wil je doen?
								a.btn.btn-default(href="/webshop/cart", role="button") Winkelmand bekijken
								a.btn.btn-default(href="/accounts/logout", role="button") Uitloggen
			.row
				div.column-2.nav-container
					ul(class="nav nav-pills nav-stacked", id="navbar1")
						li#home(role="presentation")
							a(href="/") Home
						li#bio(role="presentation")
							a(href="/bio") Bio
						li#ervaring(role="presentation")
							a(href="/ervaring") Ervaring
						li#documenten(role="presentation")
							a(href="/documenten") Documenten
						li#contact(role="presentation")
							a(href="/contact") Contact
				div.column-8.content-container
					.main-content.content-card
						block content
